<div class="row">
    <div class="col-xs-12">
        <form #ingFrm="ngForm" (ngSubmit)="onSaveIngredient()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" id="name" 
                        class="form-control" #inputName="ngModel" 
                        ngModel name="name" required 
                        [ngClass]="{'error-border': inputName.touched && inputName.invalid}"
                    />
                    <span class="help-block" *ngIf="inputName.touched && inputName.invalid">Please enter the ingredient name.</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        type="number" id="amount" 
                        class="form-control" #inputAmount="ngModel" 
                        ngModel name="amount" required 
                        number [ngClass]="{'error-border': inputAmount.touched && inputAmount.invalid}"
                        pattern="^[1-9]+[0-9]*$"
                    />
                    <span class="help-block" *ngIf="inputAmount.touched && inputAmount.invalid">Enter a valid amount.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success" type="submit"
                        [disabled]="ingFrm.invalid"
                    >
                        {{ editMode ? 'Update' : 'Add' }}
                    </button>
                    <button 
                        class="btn btn-danger" type="button"
                        [disabled]="editId === null"
                        (click)="deleteIngredient()"
                    >Delete</button>
                    <button 
                        class="btn btn-primary" type="reset" 
                        (click)="resetIngredientFrom()"
                    >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>